worker_processes 4;

events{
    worker_connections 1024;
    multi_accept on;
    accept_mutex on;
}


http{
    sendfile on;
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server{
        listen 80;
        location / {
            root /usr/local/lyre/client;
            index index.html;
        }
    }
}
